body{ 
    position: absolute;
    left: 25%;
    height: 65%;
    width: 55%;
    font-size: 20px;
    background-color: #000000;
    color: #5c01a8
}
form{
    border: solid #ccc 1,5px;
    border-radius: 10px;
}
form fieldset {
    margin: 10px auto 10px auto;
    width: 45%;
    border: solid #ffffff 3px;
    padding: 3%;
    background-color: #5c01a8;
    color: #ffff00;
}
form legend {
    padding: 6px;
    margin: 10px;
    border: solid #ffffff8c 2px;
    font-size: 90%;
    font-weight: bold;
    background-color: #5c01a8;
    color: #ffff00;
}
form label[oper]{
    display: block;
    font-size: 11px;    
}
form select{
    background-color: rgb(115, 28, 142);
    color: rgb(255, 255, 0);
}
form input {
    width: auto;
    border: solid #ccc 1,5px;
    font-size: 15px;
    margin-bottom: 10px;
    text-align: center;
    background-color: black;
    color: rgb(255, 255, 0);
    caret-color: #ffff00;
}
div{
    height: 25px;
    width: auto;
    border: solid #ccc 1,5px;
    font-size: 25px;
    margin-bottom: 10px;
    text-align: center;
    background-color: black;
    color: rgb(255, 255, 0);
}
#num0,#num00{
    height: 7.5%;
    width: 65%;
    border: solid #cccccc 1,5px;
    border-radius: 10px;
    font-size: 20px;
    margin-bottom: 10px;
    text-align: center;
    background-color: black;
    color: #ffff00;
}
.butt{
    width: 38%;
    border: solid #ccc 1,5px;
    font-size: 15px;
    margin-bottom: 10px;
    text-align: center;
    background-color: rgba(217, 198, 24, 0.671);
    color: rgb(0, 0, 0);
}